<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
<body>
    <div align="center">
        <div class="card mb-3" style="width:26rem;">
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/1dc2765d-683c-4dd7-b090-f2d4997d3f19-profile_image-70x70.png" class="card-img-top" alt="Coccobacilli LOGO">
            <div class="card-body" align="center">
                <h5 class="card-title">Contact Info</h5>
                <p class="card-text">Reach us in Italy - Rome</p>
                <p class="card-text">Number: <b>333 345 6789</b></p>
                <p class="card-text"><a href="https://instagram.com/coccobacilli_ig"> Coccobacilli Instagram </a></p>
                <p class="card-text"><a href="https://twitch.tv/coccobacilli"> Coccobacilli Twitch </a></p>     

                <a href="mailto:fake@email.com" class="btn btn-primary">Send Email</a>
            </div>
        </div>
    </div>
</body>
</html>